{{ define "main" }}

<div class="container">
    <section class="my">
        <div class="content">
            {{ with .Content }}
            {{ . }}
            {{ end }}
            <div class="bio-social">
                {{ range $name, $path := $.Param "socialOptions" }}
                {{ if (and $path (ne $name "email")) }}
                <a href="{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $name }}"
                    aria-label="{{ $name }}">
                    {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
                </a>
                {{ end }}
                {{ if (and $path (eq $name "email")) }}
                <a href="mailto:{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $path }}"
                    aria-label="{{ $name }}">
                    {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
                </a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
</div>
{{ partial "cube-demo.html" . }}

<section>
    <div class="ma-container">
      <h2 class="ma-heading-3 ma-block">About Me</h2>
      <div class="ma-grid" style="--cols: 2">    
        
        <div class="ma-flow">
        
          <p> I'm <strong> Praveen Kumar</strong>, and I'm a web developer.<br></p>
  
          <p> I like to learn everything about SEO and analyze startups. <br> </p>
  
         <p> Now, I'm looking forward to sharing my experience and knowledge with you.</p>
            
          <p>  Follow me on Twitch!</p>
  
          
          <p class="ma-text-center">
            <a href="https://www.twitch.tv/c6h6benz" class="ma-button-twitch">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path d="m26.1 16-4 4h-4l-3.5 3.5V20H10V5.1h16.1V16z" fill="#fff"/>
                <path d="M9 3 4 8v18h6v5l5-5h4l9-9V3H9zm17.1 13-4 4h-4l-3.5 3.5V20H10V5.1h16.1V16zm-3-1.5H21v-6h2.1v6zm-5.6 0h-2.1v-6h2.1v6z"/>
              </svg>
              <span>@c6h6benz</span>
            </a>
          </p>
        </div>
        <figure>
            {{ partial "cube-demo.html" . }}
        </figure>  
      </div>
    </div>
  </section>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ $pages = .Paginate ($pages)  }}
{{ $archivesPage := first 1 (where .Site.RegularPages "Layout" "eq" "archives") }}

<div class="container">
    <section>
        <h2>
            Latest Articles
            {{ range $archivesPage }}
            <a class="section-button" href="{{ .RelPermalink }}">View all</a>
            {{ end }}
        </h2>
        <div class="posts">
            {{ range $pages.Pages }}
            <div class="post">
                <a href="{{ .RelPermalink }}">
                    <div class="post-row">
                        <time>{{ .Date.Format "Jan 02" }}</time>
                        <h3>{{ .Title }}</h3>
                    </div>
                    <!--<div class="new-post">New!</div>-->
                </a>
            </div>
            {{ end }}
        </div>
    </section>
    {{ if gt (len $projects) 0}}
    <section>
        <h2>Projects</h2>
        <div class="projects">
            {{ range $projects.ByWeight }}
            <div class="project">
                <div>
                    <a href="{{ .Params.link }}" target="_blank" rel="noreferrer">
                        <div class="icon">{{ .Params.icon }}</div>
                        <h3>{{ .Title }}</h3>
                    </a>
                    <div class="description">{{ .Params.description }}</div>
                </div>
                <div class="flex">
                    <a href="{{ .Params.repo }}" class="button" target="_blank" rel="noreferrer">Source</a>
                </div>
            </div>
            {{ end }}
        </div>
    </section>
    {{ end }}
</div>

{{ end }}