<div class="cucu">

	<div class="cube">

		<!-- Creating 6 divs for each face of the cube -->

		<div class="box box1">
			<img src=
"/images/cube/1.png"
				alt="image 1">
		</div>

		<div class="box box2">
			<img src=
"/images/cube/2.png"
				alt="image 2">
		</div>

		<div class="box box3">
			<img src=
"/images/cube/3.png"
				alt="image 3">
		</div>

		<div class="box box4">
			<img src=
"/images/cube/4.png"
				alt="image 4">
		</div>

		<div class="box box5">
			<img src=
"/images/cube/5.png"
				alt="image 5">
		</div>

		<div class="box box6">
			<img src=
"/images/cube/6.png"
				alt="image 6">
		</div>
	</div>

</div>