<div class='parent'>
    <div class='child'>

        <div>
            {{ partial "cube-demo.html" . }}
        </div> 

    </div>
    
    <div class='child'>
        <div class="my">
        
            <p> I'm <strong> Praveen Kumar</strong>, and I'm a web developer.<br></p>
    
            <p> I review Productivity softwares and Learns SEO <br> </p>
    
           <p> Now, I'm looking forward to sharing my experience and knowledge with you.</p>
              
            <p>  Follow me on Twitch!</p>
          </div>

    </div>
  </div>